apiVersion: v1
kind: Service
metadata:
  name: automation-run-sentinel
  namespace: sentinel
  labels:
    app: automation-run-sentinel
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: automation-run-sentinel

