apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sentinel.fullname" . }}-secrets
  labels:
    {{- include "sentinel.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range $key, $value := .Values.secrets }}
  {{- if $value }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}

